<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:android="http://schemas.android.com/apk/res/android">
	<item
		android:id="@+id/menu_objeto"
		android:title="@string/objeto"/>
	<item
		android:id="@+id/menu_conteudo"
		android:title="@string/conteudo"/>
	<item
		android:id="@+id/menu_unidade"
		android:title="@string/unidade"/>

</menu>